<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>The Cat Catalog</h1>
  <% @cats.each do |cat| %>
    <div class="entry">
      <%= image_tag(cat.image_url) %>
      <h3><%= cat.name %></h3>
      <p><%= sanitize(cat.description) %></p>
      <div class="price_line">
        <span class="price"><%= number_to_currency(cat.price) %></span>
      </div>
    </div>
  <% end %>
